<h2>Create Stock Form</h2>
<div class="form-group">
  <form (submit)="createStock()" #form="ngForm">
    <div class="stock-name">
      <input type="text"
        [(ngModel)]="stock.name"
        placeholder="Stock Name"
             name="stockName">
    </div>
    <div class="stock-code">
      <input #smode="ngModel" required minlength="3" type="text" placeholder="Stock Code"
      [(ngModel)]="stock.code"
             name="stockCode">
    </div>
    <span *ngIf="smode.dirty && smode.invalid && smode.errors.required">
        requried
    </span>
    <span *ngIf="smode.dirty && smode.invalid && smode.errors.minlength">
      stock code need min 3 char please :()
    </span>
    
    <div class="stock-price">
      <input type="number" placeholder="Stock Price"
        [ngModel]="stock.price"
        (ngModelChange)="updatePrice($event)"
             name="stockPrice">
    </div>
    <div class="stock-exchange">
      <div>
        <input type="radio" [(ngModel)]="stock.exchange" name="stockExchange" value="NYSE">NYSE
      </div>
      <div>
        <input type="radio"  [(ngModel)]="stock.exchange" name="stockExchange" value="NASDAQ">NASDAQ
      </div>
      <div>
        <input type="radio" [(ngModel)]="stock.exchange" name="stockExchange" value="OTHER">OTHER
      </div>
    </div>
    <div class="stock-confirm">
      <input type="checkbox" name="stockConfirm" [(ngModel)]="confirmed" >
      I confirm that the information provided above is accurate!
    </div>
    <button [hidden]='form.invalid' [disabled]="!confirmed" type="submit">Create</button>
  </form>
  {{message }}
</div>
<h4>Stock Name is {{stock.name}}</h4>